.commercialItem {
  display: flex;
  width: calc(33.333333333333336% - 56px);
  min-height: 300px;
  background: #F2EFE9;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  margin: 16px 12px; 
  box-shadow: 1px 1px 12px rgb(0 0 0 / 20%);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.mobileCommercialItem {
  display: flex;
  width: 100%;
  min-height: 300px;
  background: #F2EFE9;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  margin-top: 16px; 
  box-shadow: 1px 1px 12px rgb(0 0 0 / 20%);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.commercialItem:hover img {
  height: 150%;
  transition: linear 2.1s;
}
  
.mobileWorkOrderItem {
  display: flex;
  width: 90%;

  min-height: 300px;
  background: #F2EFE9;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 41px;
  border-radius: 30px;
  margin: 16px 8px;
  box-shadow: 1px 1px 12px rgb(0 0 0 / 20%);
}

.commercialItemImg {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;  
}

.owerlayImg {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;  
  background-color: rgba(0, 0, 0, 0.607);
  z-index: 2;
}

.commercialItemImg .ant-image-img{
  display: flex;
  width: 500px; 
}

.commercialTitleContainer {
  display: flex;
  width: 100%;
  height: 100%; 
  color: #ffffff;
  align-items: center;
  justify-content: center; 
  z-index: 3;
}

.commercialItemTitle {
  font-weight: 900;
  line-height: 27px;
  color: #ffffff;
  display: flex;
  text-align: center;
  width: 70%; 
  font-size: 20px;
  font-family: sans-serif;
  overflow-wrap: break-word; 
  justify-content: center;
}
 
