 
 .textButtonContainerWrapper {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 
 .textButtonTextContainer {
  display: flex;
  width: 90%;
  height: auto;  
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
 }
 
.textButtonText {
  font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    font-style: normal;
    font-weight: 400;
}
 
 .textButtonContainer {
    display: flex;
    width: 500px;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
 }
   
.textButton { 
  background-color: #640e0f;
  color: #FFFFFF;
  border-radius: 0px; 
  height: 50px;
  padding: 4px 45px;
}

.textButton:hover {
    color: #d52024 !important;
    background-color: rgb(0 0 0 / 4%) !important;
    border: 2px solid #640e0f;
    font-weight: 600;
    padding: 4px 41px;
}
 