
.backgroundWrapper {
  display: flex;
  position: relative; 
  width: 100%;
  height: auto; 
  /* height: 700px;  */
  flex-direction: column;
  overflow: hidden; 
}

.backgroundVideo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; 
}

.mobileBackgroundVideo {
  position: absolute;
  top: 0px;
  left: -200px;
  height: 100%; 
}

.backgroundWrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3,20,40,0.55);
  z-index: 1;
}
 
.backgroundTopContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%; 
  padding-top: 60px;
  z-index: 1;
}
 
.mobileBackgroundTopContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  flex-direction: column; 
  z-index: 1;
}

.backgroundCatigories {
  display: flex;
  margin-right: 100px;
  align-items: center;
  flex-direction: row;  
  z-index: 3;
}

.backgroundCatigories a {
  text-decoration: none;
}

.backgroundCatigories ul {
  border: none;
  background-color: transparent;
}

.backgroundCatigories li {
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px; 
  letter-spacing: 2px;
  color: white!important; 
}

.backgroundCatigories .ant-menu-item:hover {
  color: rgb(183, 179, 179) !important;
}
 
.backgroundCatigories .ant-menu-light.ant-menu-horizontal >.ant-menu-item::after { 
  border: none; 
}

.backgroundCatigories .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu:hover::after { 
  border: none; 
}
  
.backgroundCatigories .ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected {
  color: #232323;
  /* color: rgb(255, 255, 255); */
  background-color: #d2b46e; 
  /* background-color: #640e0f;  */
  border-radius: 0px
}
 
.ant-menu-light .ant-menu-item-selected {
  background-color: #d2b46e !important;
  /* background-color: #640d0fd9 !important; */
  color: #232323!important; 
} 

.ant-menu-submenu ul {
  border-top: 5px solid #d2b46e;
  /* border-top: 5px solid #640e0f; */
  border-radius: 0px !important;
}

.ant-menu-submenu .ant-menu-sub .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #d2b46ed9;
  /* background-color: #640d0fd9; */
  color: #232323;    
}

.ant-menu-light .ant-menu-submenu-selected {
  /* background-color: #640d0fd9 !important; */
  background-color: #d2b46e !important;
  color: #232323!important;  
  border-radius: 0px !important; 
}
 
.ant-menu-light .ant-menu-submenu-selected .ant-menu-title-content { 
  color: #232323!important;   
}

.ant-menu-light.ant-menu-horizontal >.ant-menu-submenu::after {
  border: none
}

.ant-menu-submenu .ant-menu-sub li { 
  border-radius: 0px !important;
}
  
.backgroundLableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 100px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #f0ffff69;
  box-shadow: 20px 0px 100px #f0ffffd4;
  position: relative;
}
 
.backgroundBottomContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 80%; 
  flex-direction: row; 
  z-index: 1;
}
  
.headerBottomTitleContainer {
  display: flex; 
  justify-content: center;
  width: 60%;
  height: 70%; 
  flex-direction: column; 
  padding: 100px;
}
 
.headerBottomClearContainer {
  display: flex; 
  width: 40%;
  height: 70%;  
}
 
.logoImg {
  display: flex; 
  width: 280px;
  height: 93px; 
  /* padding-left: 70px;  */
}

.mobilelogoB {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #232323;
  border: 2px solid white;
  color: #d2b46e;
  font-size: 31px;
  position: absolute;
  top: 1px;
  left: -22px;
}

.logoB {
  display: flex;
  width: 87px;
  height: 87px;
  justify-content: center;
  align-items: center;
  background: #232323;
  border: 3px solid white;
  color: #d2b46e;
  font-size: 81px;
  position: absolute;
  top: 0px;
  left: -51px;
}

.license { 
  position: absolute;
  top: 120px;
  left: 0px;
  font-size: 15px;
  font-weight: 500;
}
 
.bottomHeaderTitle {
  color: #FFFFFF;
  text-align: left;
  font-size: 1.8vw;
  line-height: 2.1em; 
  word-wrap: break-word;
  font-family: 'DM Serif Display',Georgia,"Times New Roman",serif;
}
 
.bottomHeaderSubTitle {
  color: #FFFFFF;
  text-align: left;
  font-size: 1.5vw;
  margin-top: 30px;
  line-height: 1.6em; 
  word-wrap: break-word;
  font-weight: 500;
  font-style: oblique;
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
}
 
.bottomHeaderButtonContainer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: flex-start;  
}

.mobileBackgroundCatigories li {
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px; 
  letter-spacing: 2px;
  color: white!important;  
}

.mobileBackgroundCatigories .ant-menu-dark {
  background: #7c282a00 !important;
}

.mobileBackgroundCatigories .ant-menu-submenu-title {
  padding-top: 5px;
  padding-left: 23px !important;
}

.mobileBackgroundCatigories .ant-menu-item {
  padding-top: 5px;
  padding-left: 23px !important;
}

.mobileBackgroundCatigories .ant-menu-dark .ant-menu-item-selected {
  background-color: #640d0f;
}

.mobileBackgroundCatigories .ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
  background-color: #640d0f;
}

.mobileBackgroundCatigories .ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background-color: #29272814;
}

.ant-menu-dark {
  background-color: #00050a3b !important;
}

.ant-menu-dark.ant-menu-submenu>.ant-menu {
  background: #29272814 !important;
}

.mobileBackgroundTopContainer .ant-btn-primary {
  background-color: #640d0f;
}

.mobileBackgroundTopContainer .ant-btn-primary:not(:disabled):hover {
  background-color: #640d0f;
}

.mobileBackgroundTopContainer .ant-btn-primary:not(:disabled):active {
  background-color: #640d0f;
}

.mobileHeaderBottomTitleContainer {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
  flex-direction: column;  
}

.mobileHeaderBottomTitleContainer .bottomHeaderTitle {
  color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 2.6em;
    word-wrap: break-word;
    font-family: 'DM Serif Display',Georgia,"Times New Roman",serif;
    padding: 11px;
}

.mobileHeaderBottomTitleContainer .bottomHeaderSubTitle {
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  line-height: 1.6em; 
  word-wrap: break-word;
  font-weight: 500;
  font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
}

.mobileHeaderBottomTitleContainer .bottomHeaderButtonContainer {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;  
  height: 90px;
}

.mobileBackgroundLableContainer {
  display: flex;
  width: 110px;
  height: 40px;
  position: absolute;
  top: 1%;
  right: 0px;

}

.mobileBackgroundLableContainer img{
  display: flex;
  width: 220px;
  height: 40px; 
}

.mobileBackgroundBottomContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 80%; 
  flex-direction: row; 
  z-index: 1;
  padding-top: 20px;
  box-sizing: border-box;
}


/* height: 110
px
;
    display: flex;
    align-items: center;
    font-style: italic;
    justify-content: center;
    font-size: 17px;
    color: #d2b46e; */