
.whyPeopleChooseWrapper {
  display: flex;
  width: 100%;
  height: 100%; 
  flex-direction: column;
  position: relative; 
  overflow: hidden; 
}

.whyPeopleChooseVideo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; 
  z-index: 0;
}

.mobileWhyPeopleChooseVideo {
  position: absolute;
  top: 0px;
  left: -180px; 
  z-index: 0;
}
 
.whyPeopleChooseTopContainer:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3,20,40,0.55);
  z-index: 1;
}
 
.mobileWhyPeopleChooseTopContainer:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3,20,40,0.55);
  z-index: 1;
}
 
.mobileWhyPeopleChooseTopContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;  
  z-index: 1;
  overflow: hidden; 
}
 
.whyPeopleChooseTopContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;  
  z-index: 1;
  overflow: hidden; 
}
 
.whyPeopleChooseBottomContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
   height: 400px;  
  flex-direction: row; 
  z-index: 1;
  background-color: white;
  overflow: hidden;
}
 
.mobileWhyPeopleChooseBottomContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;  
  flex-direction: column; 
  z-index: 1;
  background-color: white;
  overflow: hidden;
}
 
.mobileWhyPeopleChooseBottomContainer .whyPeopleChooseInfoContainer { 
  width: 100%; 
}
 
.whyPeopleChooseInfoContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

 
