
.whyPeopleChooseItem {
  display: flex;
  width: 90%; 
  height: 170px;
  align-items: center;  
  margin: 6px 2px;  
}

.whyPeopleChooseItemReverse { 
  display: flex;
  width: 90%; 
  height: 170px;
  align-items: center;  
  margin: 6px 2px;  
  flex-direction: row-reverse !important; 
}


.whyPeopleChooseTextContainer {
  display: flex; 
  width: 80%; 
  flex-direction: column;
}

.whyPeopleChooseReverseTxt { 
  display: flex; 
  width: 80%; 
  flex-direction: column;
  align-items: flex-end; 
  padding-right: 30px;
}


.whyPeopleChooseItemSubTitle {
  display: flex;
  box-sizing: border-box;
  width: 100%; 
  font-family: sans-serif;
  line-height: 20px; 
  padding-left: 30px;
  color: #303030;
  word-wrap: break-word;
}

.whyPeopleChooseItemReverseSubTxt { 
  display: flex; 
  width: 100%; 
  justify-content: end; 
  color: #303030;  
}

.whyPeopleChooseSubTxtContainerReverse { 
  width: 250px;
  text-align: end;
  display: flex;
  align-items: center; 
}

/* .reverse .whyPeopleChooseItemTitle, .reverse .whyPeopleChooseItemSubTitle { 
  text-align: right;
  padding-right: 30px; 
} */
  
.mobileWorkOrderItem {
  display: flex;
  width: 90%;
  min-height: 300px;
  background: #F2EFE9;
  align-items: center; 
  flex-direction: column;
  padding-top: 41px;
  border-radius: 30px;
  margin: 16px 8px;
  box-shadow: 1px 1px 12px rgb(0 0 0 / 20%);
}

.whyPeopleChooseItemImg {
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;   
  background-color: #ff172a; 
}

.whyPeopleChooseItemImg img {
  display: flex;
  width: 35px;
  height: 35px; 
}

.iconsize { 
  width: 45px !important;
  height: 45px !important; 
}

.whyPeopleChooseItemImg img {
  display: flex;
  width: 35px;
  height: 35px; 
}


.whyPeopleChooseItemTitle { 
  color: #303030;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.20;
  letter-spacing: 0em; 
  padding-left: 30px;
  font-family: sans-serif;
  padding-bottom: 0.5em;
}

