
.inputContainerSpan {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #d52024;
  border-color: #d52024;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #d5202440;
  border-color: #d5202440;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #25b92a;
    border-color: #25b92a;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: #25b92a;
    border-color: #25b92a;
}

.questionColor {
  color: #7c0f13;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon {
  color: blueviolet !important;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: blueviolet;
}