.footer_container {
  display:flex;flex-direction:column;width:100%;background-color:#333;align-items:center;justify-content:center;
}
.footer_up {
  display:flex;flex-direction:row;width:100%;background-color:#363636;align-items:flex-start;justify-content:space-evenly;z-index:0
}
  .footer_down {
    display:flex;flex-direction:row;width:100%;background-color:#363636;padding-bottom:60px;padding-top: 40px;align-items:center;justify-content:space-evenly;z-index:1
  }
  .mobileFooter_down {
    display:flex;flex-direction:row;width:100%;background-color:#363636;padding:10px 0px;align-items:center;justify-content:space-evenly;z-index:1
  }
  .visa_container img{
    margin-left: 10px; 
  }
  .coperait_txt{
    user-select:none;color:#999;padding:20px 0
  }
  .footer_txt, .footer_txt_hover{
    user-select:none;text-decoration: none;margin:0 36px 18px 0;font-family:sans-serif;font-size:14px;font-weight:500;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:.79px;color:#9f9f9f;color:#999
  }
  .footer_titleTxt{
    font-weight: 700;
    font-size: 0.90rem;
    line-height: 1.4;
    letter-spacing: 0em;
    margin-bottom: 0.5rem;
    font-family:sans-serif;
    color:#999;
  }
  .footer_txt_hover:hover{
    color:#fff;
    cursor:pointer;
  }
  .footer_down::before{
    /* content:"";display:block;width:80%;height:1px;background:#212729;margin:50px auto */
  }
  .footer_desription_section_right{ 
    align-self:flex-start
  } 
  .footer_desription_section_left a, .footer_desription_section_right a, .footer_desription_section_center a {
    text-decoration: none;
    user-select: none;
    outline:none;
    -webkit-tap-highlight-color: transparent;
  }
  .footer_desription_section_center{
    display: flex;
    padding-top: 40px; 
  }
  .footer_desription_section_left{
    padding-top: 40px;
    align-self:flex-start
  }

  .visa_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  .footer_social_section{
    margin-left:0px
  }
  .footer_logo_section{
    padding-right:0px
  } 

  .mobile-footer_txt{
    cursor:pointer;text-align:center;text-decoration: none;margin:0 5px 10px 0;font-family:'Montserrat-Bold';font-size:11px;font-weight:500;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:.79px;color:#9f9f9f;color:#999
  }
  .mobile-coperait_txt{
    user-select:none;color:#999;padding:20px 0;font-size: 11px;
  }

  .lineInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: auto;
    margin: 6px 0px;
  }

  .text-muted {
    color: #6c757d !important;
  }

  .mobile-header-extras li {
    height: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif !important;
    margin-top: 20px
  }
  
.mobile-header-extras li .he-text {
  float: right; 
  font-weight: bold;
  font-size: 11px;
  line-height: 1.43;
}

.header-extras li .he-text span {
  display: block;
  font-weight: 400;
}


  .header-extras li .he-text {
    float: right;
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.43;
  }
  .header-extras li .he-text span {
    display: block;
    font-weight: 400;
  }
  .mobile-i-plain {
    width: 20px;
    height: 20px; 
    margin-right: 5px;
  }
  .mobileContainerLi {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; 
  }


.owerflowTxt {
  width: 350px;
  overflow-wrap: break-word;
}

.mobileWorkingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}





@media ( width <= 1100px ) { 
  .iframe {
    width: 320px;
    height: 200px;
  }

  .footer_up {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_desription_section_right{
    width: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
  }
  .footer_desription_section_left{
    width: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
  }
}
@media ( width >= 707px ) { 
  .footer_container {
    min-width: 745px;
  }
}

